<div class="container-fluid" style="height: 625px; ">
    <div class="row">
        <div class="col-sm-12 header" style="height:50px; text-align:center; background-color:gray;">
            <div class="user float-right">
                <span style="color:white; font-weight: bolder; margin-right: 10px;">{{userDetail}}</span><img class="img"
                    src="../../assets/dummy-user.png" alt="userimg" width="50px" height="50px">
                    <button type="submit" style="font-weight: bolder;" class="btn btn-dark ml-4 logout" (click)="logoutForm()">Log out</button>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-1 sidebar">
            <ul class="links">
                <li><a href="">Home</a></li>
                <li><a href="" >Serving</a></li>
                <li><a href="" >Products</a></li>
                <li><a routerLink="jobpage">Job listing</a></li>
            </ul>
        </div>
        <div class="col-sm-11 content">
            <div class="page">
                <router-outlet></router-outlet>
                <div class="row">
                    <div class="col-sm-12" style="text-align:center;">
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</div>